{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    Datos de cotizaciones
{% endblock %}


{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Cotización IMSS</h1>
                      <p class="lead">Ingresa los datos correspondientes a las cotizaciones del IMSS del neuvo socio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mb-3">
        <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-4">
                            <label>Ingresa el salario de la cotización del cooperativista</label>
                            {{form.salario_cot}}
                        </div>
                        <div class="col-lg-4">
                            <label>Ingresa las semanas cotizadas hasta hoy</label>
                            <input type="number" min="0" max="999999" maxlength="6" class="form-control" name="coti_weeks" autocomplete="off">
                            <a href="https://serviciosdigitales.imss.gob.mx/semanascotizadas-web/usuarios/IngresoAsegurado" target="_blank"><small>Consulta tus semanas cotizadas</small></a>
                        </div>
                        <div class="col-lg-4">
                            <label>Seleccione la fecha de alta del cooperativista</label>
                            <input type="date" class="form-control" name="imss_register_date" autocomplete="off">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col">
                            <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Registrar</button>
                        </div>
                    </div>
                        <hr>
                        <div class="form-row">
                            <div class="col">
                                <a href="{% url 'pre_economic_act' user.id %}" class="btn btn-outline-warning btn-lg btn-block">Omitir</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}