{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    Registro nuevo socio
{% endblock %}


{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">Registrar nuevo socio</h1>
                            <p class="lead">Ingresa la información del usuario con la que se identificará en el sistema.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="alert alert-success" role="alert">
                        Ingresa los siguientes datos del formulario. Puedes omitir la información que no quieras ingresar en este momento.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="create_user">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form id="form" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6 col-12">
                                <label>Nombre(s)</label>
                                <input required type="text" class="form-control" name="first_name" autocomplete="off" placeholder="Ingresa tu(s) nombre(s)">
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <label>Apellidos</label>
                                <input required type="text" class="form-control" name="last_name" autocomplete="off" placeholder="Ingresa tus apellidos">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3 col-12">
                                <label>Número de seguro social (NSS)</label>
                                <input required id="username" type="number" onKeyPress="if(this.value.length==11) return false;" class="form-control" name="username" autocomplete="off" placeholder="Ingresa tu NSS">
                                {% if form.username.errors %}
                                    {{form.username.errors}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-12">
                                <label>Correo electrónico</label>
                                <input required type="email" class="form-control" name="email" autocomplete="off" placeholder="Ingresa un correo como example@example.com">
                            </div>
                        </div>
                        <div class="alert alert-warning" role="alert">
                            Esta es una contraseña temporal, el socio la podrá cambiar al inicar sesión por primera vez.
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-12">
                                <label>Contraseña</label>
                                <input required type="password" class="form-control" name="password1" autocomplete="off">
                                {{form.password1.help_text}}
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <label>Confirmar contraseña</label>
                                <input required type="password" class="form-control" name="password2" autocomplete="off">
                                {{form.password2.help_text}}
                            </div>
                            {% if form.password2.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{form.password2.errors}}
                                </div>
                            {% endif %}
                        </div>
                        <button id="boton_submit" type="submit" class="btn btn-primary btn-lg btn-block mb-3">Agregar usuario</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <script>
        document.getElementById('boton_submit').disabled=true;
        $(function(){
            $('input[name="password1"]').keyup(function(){
                if ($('input[name="password1"]') != '')
                    document.getElementById('boton_submit').disabled=false;
            });
        });
        $(function(){
            $('input[name="password2"]').keyup(function(){
                let pass_1 = $('input[name="password1"]').val();
                let pass_2 = $(this).val();
                if(pass_1 != pass_2){
                    document.getElementById('boton_submit').disabled=true;
                }
                else{
                    document.getElementById('boton_submit').disabled=false;
                }
            });
        });
        $(function (){
            $('input[name="username"]').blur(function (){
                let nss = $(this).val()
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'search_product_id',
                        'nss': nss
                    },
                    dataType: 'json'
                }).done(function (data){
                    $.each(data, function(key, value){
                        alert('Ya existe un socio con ese NSS')
                        $('input[name="username"]').val('')
                        return false
                    });
                return false
                });
            });
        });
    
        $("#form").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 11,
                    maxlength: 11
                },
                password1: {
                    required: true,
                    minlength: 8,
                }
            },
            messages: {
                username: {
                    minlength: 'Captura al menos 11 caracteres',
                    maxlength: 'Captura máximo 11 caracteres'
                },
                password1: {
                    required: 'Este campo es obligatorio',
                    minlength: 'La contraseña debe tener al menos 8 caracteres'
                }
            }
        });
    
    </script>
{% endblock %}