{% extends 'base.html' %}
{% load static %}

{% block title %}
    Beneficios
{% endblock %}


{% block content %}

<section id="Beneficios">
    <div class="container mt-3 text-center">
        <div class="row">
            <div class="col" data-aos="zoom-in">
                <h1>Gama de beneficios por GCS Coop</h1>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <img src="{% static 'img/Hexa-5.png' %}" class="img-fluid d-none d-sm-block mt-3" alt="vision" data-aos="fade-up-left">
            </div>
            <div class="col-lg-6 col-md-6 col-12 mt-3">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Promotor</h1>
                        <p>Al ser Socio, te da el derecho de ser Promotor de la empresa, recibiendo beneficios económicos mes con mes por cada Socio que incorpores. De tal forma que llegue el día que tu Seguridad Social sea pagada por la misma sociedad y logres percibir un ingreso fijo para ti y tu familia.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 pt-5">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Revista Digital</h1>
                        <p>GCS-Coop, cuenta con una Revista Digital en la cual se anuncian a todos sus Socios vigentes, así como su actividad económica para maximizar la difusión de nuestros productos y servicios, logrando extender nuestra Red entre los Socios.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="{% static 'img/Hexa-3.png' %}" class="img-fluid d-none d-sm-block" alt="vision" data-aos="fade-up-left">
            </div>
        </div>
        <br>


        <div class="row">
            <div class="col">
                <br><br><br>
                <img src="{% static 'img/Hexa-4.png' %}" class="img-fluid d-none d-sm-block" alt="vision" data-aos="fade-up-left">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Capacitación y asesoría</h1>
                        <p>Capacitación de sistemas de ventas, publicidad y mercadeo.</p>
                        <ul>
                            <li>Operación de la página web, Internet e Intranet.</li>
                            <li>Manejo de herramientas con tutoriales y videos para ventas.</li>
                            <li>Foros abiertos online de productos y servicios con especialistas en el tema.</li>
                        </ul>
                        <p>Capacitación en todo lo relacionado con seguridad social.</p>
                        <ul>
                            <li>IMSS: Inscripción a servicios médicos, pensiones (ley 73 y ley 97), manejo y operación de la app del IMSS.</li>
                            <li>Infonavit: Trámite para créditos hipotecarios y manejo de la app de Infonavit.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                         <h1 class="display-4">Plataforma tecnológica</h1>
                        <p>La gran ventaja de pertenecer a nuestro equipo de trabajo es que cuentas con múltiples opciones para tu desarrollo personal, profesional y económico, con total seguridad, ya que contamos con una plataforma tecnológica que te brinda información fidedigna 24/7, además de recibir constantemente mensajes y correos de las actividades que realizamos, como son: semanas cotizadas, estados de cuenta, promociones y mucho más.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 pt-4" data-aos="fade-up-left">
                <img src="{% static 'img/img_benf.png' %}" class="img-fluid d-none d-sm-block" alt="step1">
            </div>
        </div>

    
        <div class="row">
                <div class="col-lg-6 col-md-6 col-12 ">
                    <img src="{% static 'img/GCS-MKT.png' %}" class="img-fluid d-none d-sm-block mt-5" alt="vision" data-aos="fade-up-left">
                </div>
                <div class="col-lg-6 col-md-6 col-12 mt-4 pt-1 pb-5">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">GCS-MKT Impulsa tu Talento</h1>
                            <p>Página en Internet, Intranet y Facebook, en coordinación con el Área de Publicidad de la Empresa, para publicitar y promocionar los productos y servicios de los socios cooperativistas, en Redes Sociales (Facebook, Instagram, Google Ads, Linkedin, etc.), con capacitación, asesoría y manejo de información.</p>
                        </div>
                    </div>
                </div>
            </div>


        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 mt-4 pt-1 pb-5">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Seguridad Social IMSS</h1>
                        <p>La Seguridad Social, a través del IMSS brinda a los Socios atención médica, ahorro para el retiro, prestaciones sociales como actividades recreativas y centros vacacionales, pensiones en caso de invalidez o fallecimiento.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 ">
                <img src="{% static 'img/Hexa-6.png' %}" class="img-fluid d-none d-sm-block" alt="vision" data-aos="fade-up-left">
            </div>
        </div>

        <div class="row">
             <div class="col">
                <img src="{% static 'img/Hexa-1.png' %}" class="img-fluid d-none d-sm-block" alt="vision" data-aos="fade-up-left">
            </div>
            <div class="col-lg-6 col-md-6 col-12 pt-5">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Modalidad 40 Ley 73</h1>
                        <p>La llamada Modalidad 40 Ley 73 (IMSS), es una de las mejores opciones para pensionarse si se ha cotizado dentro del régimen del 73, pues una persona puede vivir dignamente al recibir una mayor cantidad al llegar a la edad adulta.</p>
                    </div>
                </div>
            </div>
           
        </div>

        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 pt-5">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Pensión Ley 97</h1>
                        <p>La Pensión Ley 97 (IMSS), se toman en cuenta los años de trabajo con aportes al IMSS y la edad de la persona. Tener 60 a 64 años en caso de pensión por cesantía y tener 65 años en caso de pensión por vejez y haber aportado mínimo durante 750 semanas.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 pb-4">
                <img src="{% static 'img/Hexa-2.png' %}" class="img-fluid d-none d-sm-block" alt="vision" data-aos="fade-up-left">
            </div>
        </div>
    </div>
</section>


{% endblock %}




