{% extends 'base.html' %}
{% load static %}

{% block title %}
Seguridad Social
{% endblock %}


{% block content %}

<div class="container">
    <div class="col-lg-12 d-flex justify-content-center">
        <h1 class="display-3">Seguridad Social </h1>.
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <img src="{% static 'img/soc_sec_1.jfif' %}" class="img-fluid mt-5" alt="Family cooking pizza" data-aos="fade-up-right">
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="jumbotron jumbotron-fluid" data-aos="zoom-out">
                <div class="container" >
                    <h3>1.- ¿Cuándo pierdo mis derechos ante el IMSS e Infonavit?</h3>                        
                        <p>Dejando de cotizar durante 5 años continuos; para recuperar la conservación de derechos será necesario volver a cotizar entre 52 y 60 semanas continuas.</p>
                    <h3>2.- Con mi afiliación, ¿Mi familia queda protegida?</h3>                        
                        <p>Quedan cubiertos esposa e hijos (menores de 21 años) y padres.</p>
                    <h3>3.- ¿Qué son y cuáles son las prestaciones sociales?</h3>
                        <p> El artículo 209 de la Ley del Seguro Social explica: “Las prestaciones sociales institucionales tienen como finalidad fomentar la salud, prevenir enfermedades y accidentes y contribuir a la elevación general de los niveles de vida de la población</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="jumbotron jumbotron-fluid d-none d-sm-block" data-aos="zoom-in">
                <div class="container">
                    <h3>4.- ¿Cuáles son las prestaciones y programas sociales que ofrece el instituto?</h3>                        
                    <ul class="ul_style">         
                        <li>Educación higiénica, materno infantil, sanitaria y de primeros auxilios.</li>                         
                        <li>Prevención de enfermedades y accidentes (preven-imss).</li>
                        <li>Mejoramiento de la calidad de vida.</li>
                        <li>Impulso y desarrollo de actividades culturales y deportivas, recreativas y de cultura física.</li>                                
                        <li>Promoción de la regularización del estado civil.</li>                 
                        <li>Cursos de adiestramiento técnico y de capacitación para el trabajo.</li> 
                        <li>Centros vacacionales.</li> 
                        <li>Superación de la vida en el hogar.</li>   
                        <li>Establecimiento y administración de velatorios.</li>   
                    </ul>          
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <img src="{% static 'img/soc_sec_2.jfif' %}" class="img-fluid" alt="Women and childrens in meadow" data-aos="fade-up-left">    
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="jumbotron jumbotron-fluid d-block d-sm-none" data-aos="zoom-in">
                <div class="container">
                    <h3>4.- ¿Cuáles son las prestaciones y programas sociales que ofrece el instituto?</h3>                        
                    <ul class="ul_style">         
                        <li>Educación higiénica, materno infantil, sanitaria y de primeros auxilios.</li>                         
                        <li>Prevención de enfermedades y accidentes (preven-imss).</li>
                        <li>Mejoramiento de la calidad de vida.</li>
                        <li>Impulso y desarrollo de actividades culturales y deportivas, recreativas y de cultura física.</li>                                
                        <li>Promoción de la regularización del estado civil.</li>                 
                        <li>Cursos de adiestramiento técnico y de capacitación para el trabajo.</li> 
                        <li>Centros vacacionales.</li> 
                        <li>Superación de la vida en el hogar.</li>   
                        <li>Establecimiento y administración de velatorios.</li>   
                    </ul>          
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <img src="{% static 'img/soc_sec_3.jfif' %}" width="1000"class="img-fluid" alt="woman meditate in sunset" data-aos="fade-up-right">
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="jumbotron jumbotron-fluid"  data-aos="zoom-in">
                <div class="container">
                    <h3>5.- ¿Cuántos centros vacacionales tiene el IMSS y en donde se encuentran?</h3>   
                    <p>El IMSS cuenta con 4 centros vacacionales, con hospedaje, zonas de campamento, servicios deportivos y recreativos. Se encuentran en:</p>                     
                    <ul class="ul_style">         
                        <li>Oaxtepec, Morelos.</li>                         
                        <li>Atlixco-Metepec, en Puebla.</li>
                        <li>La Trinidad en Tlaxcala.</li>
                        <li>Malintzi, en Tlaxcala.</li>                                 
                    </ul>    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="jumbotron jumbotron-fluid d-none d-md-block" data-aos="zoom-out">
                <div class="container">
                    <h3>6.- ¿Qué son los programas de educación y promoción de la salud? </h3>                        
                    <p>Son programas formativos en temas de adicciones, salud, hábitos de higiene, prevención de la obesidad y de otras enfermedades, etc.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <img src="{% static 'img/soc_sec_4.jpg' %}" class="img-fluid" alt="Baby first steps" data-aos="fade-up-left">
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="jumbotron jumbotron-fluid d-block d-sm-none" data-aos="zoom-in">
                <div class="container">
                    <h3>6.- ¿Qué son los programas de educación y promoción de la salud? </h3>                        
                    <p>Son programas formativos en temas de adicciones, salud, hábitos de higiene, prevención de la obesidad y de otras enfermedades, etc.</p>
                    </ul>          
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
