{% extends 'process_coop/base.html' %}
{% load static %}

{% block title %}
    Datos de pago
{% endblock %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Información de la cuenta bancaria del socio</h1>
                      <p class="lead">Aquí ingresa los datos correspondientes a la domiciliación de los pagos del socio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="progress_bar">
  <div class="container mb-3">
      <div class="row">
          <div class="col">
              <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>
                <span><small>Esta barra indíca el progreso del trámite.</small></span>
          </div>
      </div>
  </div>
</section>
<section>
    <div class="container mb-3">
        <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col">
                            <label hidden>Nombre de usuario</label>
                            <input hidden type="text" class="form-control" name="user" value="{{user.id}}">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label>Nombre de banco</label>
                            {{form.bnk_name}}
                        </div>
                        <div class="col-lg-6">
                            <label>Tipo de cuenta</label>
                            {{form.account_type}}
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-lg-4">
                            <label>Número de tarjeta</label>
                            <input required minlength="15" maxlength="16" type="text" class="form-control" name="ccs_number" placeholder="Ingresa el número de tarjeta" autocomplete="off">
                        </div>
                        <div class="col-lg-4">
                            <label>Nombre de titular</label>
                            <input required type="text" class="form-control" name="ccs_name" placeholder="Ingresa el nombre del titular" autocomplete="off">
                        </div>
                        <div class="col-lg-4">
                            <label>Fecha de vencimiento</label>
                            <input required maxlength="5" type="text" class="form-control" name="css_date" placeholder="Ingresa la fecha de vencimiento" autocomplete="off">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-lg-4">
                            <label>Número de seguridad</label>
                            <input required minlength="3" maxlength="4" type="password" class="form-control" name="css_back" placeholder="Ingresa el número de seguridad" autocomplete="off">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col">
                            <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Registrar</button>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col">
                            {% if not bnkrec_data %}
                                <a href="{% url 'data_bnk_rec' user.id %}" class="btn btn-warning btn-lg btn-block">Omitir</a>
                            {% endif %}
                        </div>
                    </div>
                    {{form.errors}}
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(function(){
        $('input[name="css_date"]').keypress(function(){
            let date = $(this).val();
            if (date.length == 2){
                $(this).val(date+"/");
            }
        });
    });
</script>
{% endblock %}