{% extends 'process_coop/base.html' %}
{% load static %}

{% block title %}
    Documentación
{% endblock %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Documentación</h1>
                      <p class="lead">Aquí ingresa la Documentación entregada por nuestro socio en formato PDF.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="progress_bar">
  <div class="container mb-3">
      <div class="row">
          <div class="col">
              <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%"></div>
                </div>
                <span><small>Esta barra indíca el progreso del trámite.</small></span>
          </div>
      </div>
  </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col">
                            <label hidden>Nombre de usuario</label>
                            <input hidden type="text" class="form-control" name="user" value="{{user.id}}">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label>Identificación oficial anverso</label>
                            <br>
                            {{form.identification}}
                        </div>
                        <div class="col-lg-6">
                            <label>Identificación oficial reverso</label>
                            <br>
                            {{form.identification_reverse}}
                        </div>
                        <div class="col-lg-6">
                            <label>Comprobante de domicilio</label>
                            <br>
                            {{form.address_comp}}
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label>Acta de nacimiento</label>
                            <br>
                            {{form.born_cert}}
                        </div>
                        <div class="col-lg-6">
                            <label>CURP</label>
                            <br>
                            {{form.curp}}
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label>RFC</label>
                            <br>
                            {{form.rfc}}
                        </div>
                        <div class="col-lg-6">
                            <label>Semanas cotizadas</label>
                            <br>
                            {{form.cot_weeks}}
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col">
                            <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Registrar</button>
                        </div>
                    </div>
                    <br>
                    <hr>
                    {% if validate_data %}
                        <div class="alert alert-info" role="alert">
                            Si deseas generar nuevamente los contratos para el usuario, da clic <a href="{% url 'update_contract_user' user.id %}">aquí</a>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}