{% extends 'process_coop/base.html' %}
{% load static %}

{% block title %}
    Modificar referencias personales
{% endblock %}

{% block content %}
<section>
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Modificación de referencias personales</h1>
                      <p class="lead">Modifica o agrega más información de referencias personales para el usuario.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-2 mb-3">
        <div class="row">
            <div class="col">
                <div class="table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm">
                    {% if ref_data %}
                        <div class="alert alert-success" role="alert">
                            Información registrada por el usuario
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido paterno</th>
                                    <th scope="col">Apellido materno</th>
                                    <th scope="col">Tiempo de conocerlo</th>
                                    <th scope="col">Relación</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for ref_data in ref_data %}
                                <tr>
                                    <td><a href="{% url 'update_personal_references' ref_data.id %}">{{ref_data.name_ref}}</a></td>
                                    <td>{{ref_data.ape_pat_ref}}</td>
                                    <td>{{ref_data.ape_mat_ref}}</td>
                                    <td>{{ref_data.meet_time}} {% if ref_data.meet_time == '1' %}año{% else %}años{% endif %}</td>
                                    <td>{{ref_data.relation}}</td>
                                    <td>{{ref_data.status}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            No hay un número registrado
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-warning" role="alert">
                    Registra nueva información del usuario
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col">
                            <label hidden>Nombre de usuario</label>
                            <input hidden type="text" class="form-control" name="user" value="{{user.id}}">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-lg-4">
                            <label>Nombre(s)</label>
                            <input required type="text" class="form-control" name="name_ref" placeholder="Ingresa el nombre(s)" autocomplete="off">
                        </div>
                        <div class="col-lg-4">
                            <label>Apellido paterno</label>
                            <input required type="text" class="form-control" name="ape_pat_ref" placeholder="Ingresa el primer apellido" autocomplete="off">
                        </div>
                        <div class="col-lg-4">
                            <label>Apellido materno</label>
                            <input required type="text" class="form-control" name="ape_mat_ref" placeholder="Ingresa el segundo apellido" autocomplete="off">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-lg-4">
                            <label>Tiempo de conocerlo</label>
                            <input required type="number" min="0" max="99" class="form-control" name="meet_time" placeholder="Ingrese el valor en años" autocomplete="off">
                        </div>
                        <div class="col-lg-4">
                            <label>Número de contacto</label>
                            <input minlength="10" maxlength="10" name="num_contact" required type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;"  class="form-control" placeholder="Ingrese el número telefónico" autocomplete="off">
                        </div>
                        <div class="col-lg-4">
                            <label>Relación</label>
                            {{form.relation}}
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col">
                            <button type="submit" class="btn btn-outline-success btn-lg btn-block">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}