<html lang="en">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>CONTRATO DE COMISIÓN</title>
</head>
<style>
    *{
        font-family: Arial, Helvetica, sans-serif;
    }
    .title{
        font-size: 15px;
        text-align: center;
    }
    .parraf{
        font-size: 13px;
        text-align: justify;
    }
    .lists{
        font-size: 13px;
        text-align: left;
    }
    .firma{
        text-decoration: overline;
        margin-top: 80px;
        text-align: center;
    }
    .footer{
        font-size: 12px;
        text-align: center;
        font-weight: bold;
    }
</style>
<body>
    <p class="title"><b>CONTRATO DE COMISIÓN</b></p>
    <p class="parraf">CONTRATO DE COMISIÓN QUE CELEBRAN POR UNA PARTE “GCS PROTECCION Y BENEFICIO FAMILIAR, SOCIEDAD COOPERATIVA DE CONSUMO DE R.L. DE C.V.”, REPRESENTADA POR EL SR. JAIME RAUL RENDÓN MAGAÑA, EN SU CARÁCTER DE DIRECTOR GENERAL A QUIEN SE LE DENOMINARA LA “COMITENTE”; Y POR LA OTRA EL SR. (SRA.):</p>
    <ul class="lists">
        <li>Nombre: {{full_name}}</li>
        <li>Dirección: {{full_address}}</li>
        <li>Ciudad y estado: {{full_address_2}}</li>
        <li>RFC: {{rfc}}</li>
        <li>CURP: {{curp}}</li>
		<li>Número de comisionista: {{nss}}</li>
    </ul>
	<p class="parraf">POR SU PROPIO DERECHO QUE SERÁ DENOMINADO COMO EL “COMISIONISTA”, AL TENOR DE LAS SIGUIENTES DECLARACIONES Y CLAUSULAS.</p>
    <p class="title"><b>DECLARACIONES</b></p>
	
	<p class="title" style="text-align:left"> <u><b>DECLARA LA “COMITENTE”</b></u></p>
	<p class="parraf"><b>I.-</b> Que es una sociedad cooperativa de consumo, constituida conforme a la legislación Mexicana, dedicada proveer a sus socios y a sus familiares, toda clase de servicios sociales y recreativos para mejorar su calidad de vida, tales como los servicios de seguridad social.</p>
    <p class="parraf"><b>II.-</b> Que a fin de continuar desarrollando su actividad social tiene interés en que el “COMISIONISTA” realice actividades de promoción para invitar a terceros que se incorporen como socios cooperativistas.</p>
    <p class="parraf"><b>III.-</b> Que el Sr. Jaime Raúl Rendón Magaña es su representante legal y esta plenamente capacitado para suscribir el presente documento.</p>
    
	<p class="title" style="text-align:left"> <u><b>DECLARA EL “COMISIONISTA”</b></u></p>
    <p class="parraf"><b>IV.-</b> Que es una persona física de nacionalidad mexicana con capacidad legal y física para suscribir el presente contrato.</p>
	<p class="parraf"><b>V.-</b> Que en virtud de las platicas que ha sostenido con la “COMITENTE” y que está en proceso de ser admitido formalmente o ya ha sido incorporado como socio cooperativista de la “COMITENTE”, es su interés en realizar actividades de promoción para sumar más miembros a la sociedad cooperativa.</p>
	
	<p class="title" style="text-align:left"> <u><b>DECLARAN “AMBAS PARTES”</b></u></p>
    <p class="parraf">Que en pleno conocimiento de las anteriores Declaraciones están conformes en celebrar el presente contrato al tenor de las siguientes:</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
    <p class="title"><b>CLAUSULAS</b></p>
    <p class="parraf"><b>PRIMERA.- </b>La “COMITENTE” encarga al “COMISIONISTA” y éste acepta la comisión mercantil con el fin de que el “COMISIONISTA” lleve a cabo los actos necesarios para que por cuenta de la “COMITENTE” pero sin su representación, realice actividades de promoción para invitar a terceros para que se incorporen como socios cooperativistas de la “COMITENTE”, para lo cual el “COMISIONISTA” podrá realizar todo tipo de actos y actividades lícitas para lograr el objeto del presente contrato.</p>
	<p class="parraf">La “COMITENTE” encarga al “COMISIONISTA” y éste acepta la comisión mercantil con el fin de que el “COMISIONISTA” lleve a cabo los actos necesarios para que por cuenta de la “COMITENTE” pero sin su representación, realice actividades de promoción para invitar a terceros para que se incorporen como socios cooperativistas de la “COMITENTE”, para lo cual el “COMISIONISTA” podrá realizar todo tipo de actos y actividades lícitas para lograr el objeto del presente contrato.</p>
	<p class="parraf"><b>SEGUNDA.- </b>La “COMITENTE” pagará al “COMISIONISTA” como contraprestación por el cumplimiento de sus obligaciones y compromisos bajo el presente Contrato, las cantidades se relacionan a continuación:</p>	
    <ol class="lists">
		<li>Por la inscripción de cada nuevo socio cooperativista referido por el “COMISIONISTA”, la cantidad de $2,000.00 (Dos Mil Pesos 00/100 Moneda Nacional), siempre que el miembro pague la cuota de inscripción que se establezca en su respectiva solicitud de ingreso a la sociedad cooperativa de consumo.</li>
        <li>La cantidad de $500.00 (Quinientos Pesos 00/100 Moneda Nacional) por cada una de las aportaciones mensuales que efectivamente realicen los socios cooperativistas referidos por el “COMISIONISTA”.</li>
    </ol>

	<p class="parraf">En lo sucesivo, las cantidades antes referidas serán inidentificadas individual o conjuntamente como la “CONTRAPRESTACIÓN” o la “COMISIÓN”.</p>
	<p class="parraf">Todos los impuestos que resulten del pago de la “CONTRAPRESTACIÓN” deberán ser retenidos, pagados y/o enterados por la parte obligada a retenerlos, pagarlos y/o enterarlos de conformidad con la legislación fiscal aplicable.</p>
	<p class="parraf">Al respecto, con fundamento en lo dispuesto por el artículo 94, fracción VI de la Ley del Impuesto sobre la Renta, en este acto el “COMISIONISTA” solicita a la “COMITENTE” que los pagos por la “CONTRAPRESTACIÓN” se asimilen a salarios y se le efectúe la retención del impuesto sobre la renta que corresponda. Asimismo, El “COMISIONISTA” manifiesta que esta solicitud no dará lugar a ningún cambio en la relación contractual, ni tampoco generará ninguna relación laboral, por lo que libera a la “COMITENTE” de cualquier responsabilidad laboral o legal que de hecho se llegare a suponer, esto es porque mi actividad no es de tipo subordinado ni exclusivo, sino de tipo empresarial y con los recursos humanos, técnicos y materiales propios.</p>

	<p class="parraf"><b>TERCERA.- </b>Serán a cargo del “COMISIONISTA” las erogaciones que efectúe en el desempeño de la comisión materia de este contrato. Por lo tanto, la “COMITENTE” no será responsable ni quedará obligada a pagar cantidad alguna por los conceptos anteriores.</p>
	<p class="parraf"><b>CUARTA.- </b>El “COMISIONISTA” se te reconoce expresamente que, por el cumplimiento del presente contrato, no se encuadra en las partes dentro de los supuestos del artículo 10 de la ley Federal del trabajo, en virtud de que el comisionista y, en su caso, sus empleados no quedan sujetos a dirección, dependencia o subordinación alguna ante la “COMITENTE”.</p>
	<p class="parraf"><b>QUINTA.- </b>Las partes acuerdan que este contrato no implica relaciones de exclusividad para ninguna de ellas.</p>
	<p class="parraf"><b>SEXTA.- </b>El presente contrato tendrá una vigencia indefinida, siempre que el “COMISIONISTA” sea socio cooperativista de la “COMITENTE”. En el momento en que, por cualquier causa, “EL COMITENTE” pierda la calidad de socio cooperativista cesarán los efectos de este contrato y las partes quedarán liberadas de cumplir las obligaciones asumidas en este instrumento.</p>
	<p class="parraf"><b>SEPTIMA.- </b>El “COMISIONISTA” no podrá ceder o transmitir en forma alguna los derechos y obligaciones derivados de este contrato, sin el consentimiento previo y por escrito de la “COMITENTE”.</p>
	<br>
	<p class="parraf"><b>OCTAVA.- </b>La “COMITENTE” podrá dar por rescindido este contrato, en caso de que exista incumplimiento de la contraparte de cualquiera de las obligaciones contraídas por la misma y se abstenga de tomar medidas necesarias para repara dicho incumplimiento dentro de los quince días siguientes al aviso, notificación, requerimiento o solicitud que se le haga en el sentido de que proceda a reparar dicho incumplimiento.</p>
	<p class="parraf"><b>NOVENA.- </b>La rescisión o terminación de este contrato no afecta de manera alguna la validez y exigibilidad de las obligaciones contraídas con anterioridad, o de aquellas ya formadas que, por su naturaleza o disposición de la Ley o por voluntad de las partes, deban diferirse a fecha posterior. En consecuencia, las partes podrán exigir aún con posterioridad a la rescisión o terminación del contrato, el cumplimiento de estas obligaciones.</p>
	<p class="parraf">En caso de cualquier incumplimiento a las obligaciones contraídas en este contrato en las que incurra y las que sean atribuidas al “COMISIONISTA” este expresamente acepta, como pena convencional, que el importe de la CONTRAPRESTACIÓN que a la fecha de tal incumplimiento no le hayan sido entregadas, queden a favor de la “COMITENTE” en forma definitiva, con el carácter de indemnización.</p>
	<p class="parraf"><b>DECIMA.- </b>Para la interpretación y cumplimiento de este contrato serán aplicables las leyes vigentes de la República Mexicana, y en su defecto, los usos y prácticas comerciales reconocidas por estas.</p>
	<p class="parraf"><b>DECIMA PRIMERA.- </b>Para la interpretación, ejecución y cumplimiento de las Cláusulas de este Contrato y para la solución de cualquier controversia que se derive del mismo las partes convienen expresamente en someterse a los Tribunales competentes de la Ciudad de México, renunciando expresamente a aquel que pudiera corresponder con motivo de su domicilio actual o futuro.</p>
	<br>
	<br>
	<br>
	<br>
	&nbsp;&nbsp;
	<p class="title"><b>PERSONALIDAD</b></p>
	&nbsp;
	
	<p class="parraf"><b>Se firma este contrato en Naucalpan de Juárez, Estado de México al: {{date}}</b></p>
	<br><br><br><br>
	
	<table style="width: 100%;">
		<th class="firma" style="width: 50%;" ><b>LA “COMITENTE”</b></th>
		<th class="firma" style="width: 50%;" ><b>EL “COMISIONISTA”</b></th>
	</table>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<table style="width: 100%;">
		<th class="firma" style="width: 50%;" ><b>JAIME RAÚL RENDÓN MAGAÑA</b></th>
		<th class="firma" style="width: 50%;" ><b>{{full_name}}</b></th>
	</table>
</body>
</html>