{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    Cambio de contraseña
{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <h1 class="display-4">Cambio de contraseña</h1>
                          <p class="lead">Ingresa una nueva contraseña para tu cuenta en GCS-Coop. Recuerda que nadie dentro de GCS-Coop te pedirá tu contraseña.</p>
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        {{form.new_password1.errors}}
                        <label for="id_new_password1">Nueva contraseña:</label>
                        <input type="password" name="new_password1" required id="id_new_password1" class="form-control" placeholder="Ingresa una contraseña">
                        <br>
                        {{form.new_password2.errors}}
                        <label for="id_new_password2">Confirme contraseña: </label>
                        <input type="password" name="new_password2" required id="id_new_password2" class="form-control" placeholder="Confirma la contraseña">
                        <br>
                        <button type="submit" class="btn btn-success btn-lg btn-block mb-5">Cambia tu contraseña</button>
                    </form>
                </div>
            </div>
        </div>
        
    {% else %}
        <h1 class="text-center">ENLACE INVÁLIDO: Este enlace ya ha sido usado.</h1>
    {% endif %}
{% endblock %}