{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    Cambio de contraseña confirmado
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Su contraseña se restableció correctamente</h1>
                      <p class="lead">Ahora podrás ingresar nuevamente a tu perfil dentro de GCS-Coop. Guarda tu contraseña en un lugar seguro o memorizala.</p>
                    </div>
                </div>
                <br>
                <div class="alert alert-info" role="alert">
                    <p>Inicia sesión en la plataforma dando clic <a href="{% url 'login' %}" class="text-center">aquí</a></p>
                </div>
                <img style="width: 40vh;display: block; margin: auto;" src="{% static 'img/sec_done.png' %}" class="img-fluid" alt="email_sended">
            </div>
        </div>
    </div>
{% endblock %}