{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    Cambio de contraseña
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Recupera tu contraseña</h1>
                  <p class="lead">Ingresa el correo con el que estas registrado en el sitio y se te enviará un correo para restablecer tu contraseña</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <label>Correo: </label>
                        <input class="form-control" type="email" id="id_email" required maxlength="254" name="email" placeholder="Ingresa aquí tu correo">
                    </div>
                </div>
                <br>
                <div class="form-row mb-5">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-warning btn-lg btn-block">Enviar correo de recuperación</button>
                    </div>
                </div>
            </form>
            <br>
            <img src="{% static 'img/support_pass.jpg' %}" style="width: 30vh; display: block; margin: auto;" class="img-fluid" alt="support_pass">
        </div>
    </div>
</div>
{% endblock %}