{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    Cambio de contraseña confirmado
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                    <h1 class="display-4">¡Está hecho!</h1>
                    <p>Te hemos enviado un correo para restablecer tu contraseña. <b>Ya puedes cerrar esta pestaña.</b></p>
                    </div>
                </div>
                <div class="alert alert-warning text-center" role="alert">
                    *Si no localizas el correo en tu bandeja de entrada, revisa en tu carpeta de <b>Spam</b>.
                </div>
            </div>
        </div>
    </div>
    <br>
    <img style="width: 40vh;display: block; margin: auto;" src="{% static 'img/pass_done.png' %}" class="img-fluid" alt="email_sended">
{% endblock %}